/* Estilos para el contenedor del formulario */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  margin: 4em auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: fit-content;
  margin: auto;
}
